In [26]:
import pandas as pd
import numpy as np
from datetime import datetime

In [27]:
flights = pd.read_csv("flights.csv", index_col=0)

In [28]:
flights

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
1,2024,1,1,15.0,2347,28.0,107.0,59,8.0,B6,261,N198JB,JFK,BOS,36.0,187,23,47,2024-01-01 23:00:00
2,2024,1,1,517.0,530,-13.0,806.0,836,-30.0,B6,166,N805JB,JFK,PBI,152.0,1028,5,30,2024-01-01 05:00:00
3,2024,1,1,557.0,600,-3.0,653.0,711,-18.0,B6,60,N279JB,JFK,BOS,37.0,187,6,0,2024-01-01 06:00:00
4,2024,1,1,603.0,606,-3.0,903.0,927,-24.0,AA,135,N341RW,JFK,MIA,154.0,1089,6,6,2024-01-01 06:00:00
5,2024,1,1,604.0,600,4.0,827.0,837,-10.0,DL,221,N707TW,JFK,ATL,113.0,760,6,0,2024-01-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9467,2024,1,31,2224.0,2230,-6.0,2330.0,2357,-27.0,9E,556,N315PQ,JFK,SYR,43.0,209,22,30,2024-01-31 22:00:00
9468,2024,1,31,2255.0,2259,-4.0,334.0,350,-16.0,B6,151,N607JB,JFK,PSE,200.0,1617,22,59,2024-01-31 22:00:00
9469,2024,1,31,2256.0,2259,-3.0,20.0,35,-15.0,OO,416,N295SY,JFK,BUF,59.0,301,22,59,2024-01-31 22:00:00
9470,2024,1,31,2302.0,2159,63.0,6.0,2323,43.0,B6,40,N279JB,JFK,BOS,43.0,187,21,59,2024-01-31 21:00:00
9471,2024,1,31,2303.0,2235,28.0,9.0,2353,16.0,B6,222,N328JB,JFK,BOS,44.0,187,22,35,2024-01-31 22:00:00

In [29]:
flights.drop(["origin", 'year', 'month', 'hour', 'minute'], axis=1, inplace=True)

In [30]:
flights

,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,dest,air_time,distance,time_hour
1,1,15.0,2347,28.0,107.0,59,8.0,B6,261,N198JB,BOS,36.0,187,2024-01-01 23:00:00
2,1,517.0,530,-13.0,806.0,836,-30.0,B6,166,N805JB,PBI,152.0,1028,2024-01-01 05:00:00
3,1,557.0,600,-3.0,653.0,711,-18.0,B6,60,N279JB,BOS,37.0,187,2024-01-01 06:00:00
4,1,603.0,606,-3.0,903.0,927,-24.0,AA,135,N341RW,MIA,154.0,1089,2024-01-01 06:00:00
5,1,604.0,600,4.0,827.0,837,-10.0,DL,221,N707TW,ATL,113.0,760,2024-01-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9467,31,2224.0,2230,-6.0,2330.0,2357,-27.0,9E,556,N315PQ,SYR,43.0,209,2024-01-31 22:00:00
9468,31,2255.0,2259,-4.0,334.0,350,-16.0,B6,151,N607JB,PSE,200.0,1617,2024-01-31 22:00:00
9469,31,2256.0,2259,-3.0,20.0,35,-15.0,OO,416,N295SY,BUF,59.0,301,2024-01-31 22:00:00
9470,31,2302.0,2159,63.0,6.0,2323,43.0,B6,40,N279JB,BOS,43.0,187,2024-01-31 21:00:00
9471,31,2303.0,2235,28.0,9.0,2353,16.0,B6,222,N328JB,BOS,44.0,187,2024-01-31 22:00:00

In [31]:
planes = pd.read_csv("planes.csv", index_col=0)

In [32]:
planes.nunique()

tailnum         1452
year              33
type               1
manufacturer      10
model             43
engines            1
seats             29
speed              1
engine             2
dtype: int64

In [33]:
planes.drop(["type", 'manufacturer', 'model', 'engines', 'speed', 'engine'], axis=1, inplace=True)

In [34]:
planes

     tailnum    year  seats
1     N101DQ  2020.0    199
2     N101DU  2018.0    133
3     N101HQ  2007.0     80
4     N101NN  2013.0    379
5     N102DN  2020.0    199
...      ...     ...    ...
1448  N996NN  2016.0    162
1449  N997JL  2018.0    379
1450  N997NN  2016.0    162
1451  N998JE  2018.0    379
1452  N999JQ  2018.0    379

[1452 rows x 3 columns]

In [35]:
weather = pd.read_csv("weather.csv", index_col=0)

In [36]:
weather.drop(["origin", 'year', 'month', 'day', 'hour'], axis=1, inplace=True)

In [37]:
weather

,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
1,42.0,27.0,54.99,270.0,10.35702,11.918651,0.0000,1016.3,10.0,2024-01-01
2,42.0,28.0,57.30,250.0,10.35702,11.918651,0.0000,1016.2,10.0,2024-01-01 01:00:00
3,42.0,29.0,59.69,270.0,10.35702,11.918651,0.0000,1016.3,10.0,2024-01-01 02:00:00
4,42.0,28.0,57.30,260.0,8.05546,9.270062,0.0000,1016.2,10.0,2024-01-01 03:00:00
5,41.0,31.0,67.30,260.0,9.20624,10.594357,0.0000,1016.4,10.0,2024-01-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...
716,37.0,25.0,61.50,0.0,0.00000,0.000000,0.0000,1022.9,10.0,2024-01-30 19:00:00
717,37.0,25.0,61.50,70.0,4.60312,5.297178,0.0000,1022.8,10.0,2024-01-30 20:00:00
718,36.0,26.0,66.69,110.0,8.05546,9.270062,0.0000,1022.7,10.0,2024-01-30 21:00:00
719,35.0,30.0,81.78,90.0,9.20624,10.594357,0.0001,1022.7,10.0,2024-01-30 22:00:00
720,35.0,30.0,81.78,100.0,10.35702,11.918651,0.0000,1022.7,10.0,2024-01-30 23:00:00

In [38]:
fp = pd.merge(flights, planes, on="tailnum", how='inner')
fp.rename(columns={"year":"plane_year"}, inplace=True)

In [39]:
fp

,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,dest,air_time,distance,time_hour,plane_year,seats
0,1,15.0,2347,28.0,107.0,59,8.0,B6,261,N198JB,BOS,36.0,187,2024-01-01 23:00:00,2006.0,20
1,1,806.0,800,6.0,1109.0,1118,-9.0,B6,33,N198JB,SRQ,155.0,1041,2024-01-01 08:00:00,2006.0,20
2,1,1606.0,1530,36.0,1856.0,1836,20.0,B6,173,N198JB,MCO,137.0,944,2024-01-01 15:00:00,2006.0,20
3,3,1303.0,1300,3.0,1606.0,1603,3.0,B6,243,N198JB,MCO,148.0,944,2024-01-03 13:00:00,2006.0,20
4,1,517.0,530,-13.0,806.0,836,-30.0,B6,166,N805JB,PBI,152.0,1028,2024-01-01 05:00:00,2012.0,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8716,31,1753.0,1759,-6.0,1956.0,2051,-55.0,DL,184,N910DU,DEN,214.0,1626,2024-01-31 17:00:00,2018.0,222
8717,31,1829.0,1830,-1.0,2136.0,2146,-10.0,AA,203,N301NW,MIA,139.0,1089,2024-01-31 18:00:00,2016.0,189
8718,31,1857.0,1859,-2.0,2131.0,2218,-47.0,DL,213,N3756,AUS,195.0,1521,2024-01-31 18:00:00,2001.0,189
8719,31,1915.0,1925,-10.0,2053.0,2131,-38.0,OO,401,N293SY,ORD,127.0,740,2024-01-31 19:00:00,2019.0,88
8720,31,1917.0,1920,-3.0,2102.0,2135,-33.0,AA,226,N778XF,CLT,78.0,541,2024-01-31 19:00:00,2009.0,100

In [40]:
fpw = pd.merge(fp, weather, on="time_hour", how='inner')

In [41]:
fpw

,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,...,seats,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib
0,1,15.0,2347,28.0,107.0,59,8.0,B6,261,N198JB,...,20,42.0,30.0,62.18,360.0,9.20624,10.594357,0.00,1017.8,10.00
1,1,2313.0,2325,-12.0,356.0,405,-9.0,B6,167,N579JB,...,200,42.0,30.0,62.18,360.0,9.20624,10.594357,0.00,1017.8,10.00
2,1,806.0,800,6.0,1109.0,1118,-9.0,B6,33,N198JB,...,20,41.0,30.0,64.63,250.0,9.20624,10.594357,0.00,1015.7,10.00
3,1,755.0,802,-7.0,1019.0,1050,-31.0,DL,356,N315NB,...,145,41.0,30.0,64.63,250.0,9.20624,10.594357,0.00,1015.7,10.00
4,1,756.0,800,-4.0,930.0,1030,-60.0,DL,246,N352NB,...,145,41.0,30.0,64.63,250.0,9.20624,10.594357,0.00,1015.7,10.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8435,27,527.0,530,-3.0,619.0,642,-23.0,B6,373,N834JB,...,200,42.0,41.0,96.21,0.0,0.00000,0.000000,0.00,1019.2,1.50
8436,27,527.0,525,2.0,827.0,839,-12.0,AA,135,N331TK,...,185,42.0,41.0,96.21,0.0,0.00000,0.000000,0.00,1019.2,1.50
8437,16,925.0,525,240.0,1357.0,839,318.0,AA,135,N338PK,...,189,26.0,23.0,88.23,330.0,4.60312,5.297178,0.01,1020.9,1.25
8438,27,2255.0,2300,-5.0,11.0,27,-16.0,9E,556,N901XJ,...,95,42.0,39.0,89.01,160.0,4.60312,5.297178,0.00,1023.2,10.00
8439,18,529.0,525,4.0,846.0,839,7.0,AA,135,N906AN,...,162,22.0,6.0,49.57,260.0,16.11092,18.540125,0.00,1021.4,10.00

In [42]:
fpw.drop(["carrier", "flight", "tailnum", "dest", "time_hour"], axis=1, inplace=True)

In [43]:
fpw["sched_dep_hour"] = fpw["sched_dep_time"] // 100

In [44]:
fpw["sched_arr_hour"] = fpw["sched_arr_time"] // 100

In [45]:
fpw.drop(['dep_time', 'sched_dep_time', 'arr_time', 'sched_arr_time', 'arr_delay', 'air_time'], axis=1, inplace=True)

In [46]:
fpw["plane_year"] = 2024 - fpw["plane_year"]
fpw.rename(columns={"plane_year":"plane_age"}, inplace=True)

In [47]:
fpw.dropna(inplace=True)

In [48]:
fpw.to_csv("fpw.csv")

,day,dep_delay,distance,plane_age,seats,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,sched_dep_hour,sched_arr_hour
0,1,28.0,187,18.0,20,42.0,30.0,62.18,360.0,9.20624,10.594357,0.00,1017.8,10.00,23.783333,0.983333
1,1,-12.0,1576,21.0,200,42.0,30.0,62.18,360.0,9.20624,10.594357,0.00,1017.8,10.00,23.416667,4.083333
2,1,6.0,1041,18.0,20,41.0,30.0,64.63,250.0,9.20624,10.594357,0.00,1015.7,10.00,8.000000,11.300000
3,1,-7.0,1182,24.0,145,41.0,30.0,64.63,250.0,9.20624,10.594357,0.00,1015.7,10.00,8.033333,10.833333
4,1,-4.0,1029,22.0,145,41.0,30.0,64.63,250.0,9.20624,10.594357,0.00,1015.7,10.00,8.000000,10.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8435,27,-3.0,187,11.0,200,42.0,41.0,96.21,0.0,0.00000,0.000000,0.00,1019.2,1.50,5.500000,6.700000
8436,27,2.0,1089,1.0,185,42.0,41.0,96.21,0.0,0.00000,0.000000,0.00,1019.2,1.50,5.416667,8.650000
8437,16,240.0,1089,7.0,189,26.0,23.0,88.23,330.0,4.60312,5.297178,0.01,1020.9,1.25,5.416667,8.650000
8438,27,-5.0,209,17.0,95,42.0,39.0,89.01,160.0,4.60312,5.297178,0.00,1023.2,10.00,23.000000,0.450000
8439,18,4.0,1089,25.0,162,22.0,6.0,49.57,260.0,16.11092,18.540125,0.00,1021.4,10.00,5.416667,8.650000